{% load static %}

<link rel="stylesheet" href="{% static  'hospitalmanagement/css/custom.css' %} ">
<link rel="stylesheet" href="{% static  'hospitalmanagement/css/bootstrap.min.css' %} ">
<link rel="stylesheet" href="{% static  'hospitalmanagement/css/color.css' %} ">
<link rel="stylesheet" href="{% static  'hospitalmanagement/css/responsive.css ' %}">
<link rel="stylesheet" href="{% static  'hospitalmanagement/css/font-awesome.min.css' %} ">
<link rel="stylesheet" href="{% static  'hospitalmanagement/css/prettyPhoto.css' %} ">
<link rel="stylesheet" href="{% static  'hospitalmanagement/css/owl.carousel.min.css' %} ">
<link rel="stylesheet" href="{% static  'hospitalmanagement/css/bootstrap-datetimepicker.min.css' %} ">
<link rel="icon" href="{% static  'hospitalmanagement/images/fav.png' %}">